.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    text-align-last: left;
  }
}
